[submodule "mustache.js"]
	path = mustache.js
	url = git@github.com:janl/mustache.js.git
	ignore = dirty
[submodule "jquery.mustache.js"]
	path = jquery.mustache.js
	url = git@github.com:alexis-renard/jquery-Mustache.git
